<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <span class="project-title">RAEE Proyecto</span>
    </div>

    <div class="navbar-center">
      <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
      <a routerLink="/sobre-nosotros" routerLinkActive="active">Sobre Nosotros</a>
      <a routerLink="/informacion" routerLinkActive="active">Información</a>
    </div>

    <div class="navbar-right">
      <img src="assets/img/img1" alt="Logo RAEE" class="navbar-logo" />
    </div>
  </div>
</nav>

<!-- ESTO ES CLAVE PARA MOSTRAR LAS PANTALLAS DE ANGULAR -->
<router-outlet></router-outlet>

<app-footer></app-footer>
